<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html>
<head>
    <title>CCExtractor Submission Platform &bull; {{ pageName }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ pageDescription }}" />
    <link rel="stylesheet" type="text/css" href="/css/kickstart.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/css/ccx.css" media="all" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/kickstart.js"></script>
</head>
<body>
<!-- Temporary untill it's out of beta -->
<div class="grid">
    <div class="col_12">
        {% include "notice.html.twig" with { 'notice_status': 'warning', 'notice_icon': 'warning', 'notice_message': 'Please note that this platform is still in beta phase! Not everything is working, and bugs can occur.'} %}
    </div>
</div>
<div class="clear"></div>
<!-- end of beta notice -->
<ul class="menu">
    {% for page in pages %}
        {% set active = '' %}
        {% if page.getPageName == pageName %}
            {% set active = 'class="current"' %}
        {% endif %}
        {% autoescape false %}
        <li {{ active }}><a href="{{ path_for(page.getPageName) }}">{{ page.getPageName }}</a></li>
        {% endautoescape %}
    {% endfor %}
</ul>

<div class="grid">
    <div class="col_12">
        <div class="col_9">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col_3">
            {% if isLoggedIn %}
            <h5>Welcome back, {{ loggedInUser.name }}</h5>
            <ul class="icons">
                <li><i class="fa fa-li fa-eye"></i> <a href="{{ path_for("My Account_view_id", {"id": loggedInUser.id }) }}">View my submitted samples</a></li>
                <li><i class="fa fa-li fa-pencil"></i> <a href="{{ path_for("My Account_manage", {"id": loggedInUser.id }) }}">Manage my account</a></li>
                <li><i class="fa fa-li fa-sign-out"></i> <a href="{{ path_for("My Account_logout") }}">Log out</a></li>
            </ul>
                {% if loggedInUser.isAdmin %}
                    <h6>Admin shortcuts</h6>
                    <ul class="icons">
                        <li><i class="fa fa-li fa-magic"></i> <a href="{{ path_for("Admin") }}">Admin panel</a></li>
                        <li><i class="fa fa-li fa-users"></i> <a href="{{ path_for("My Account_view") }}">View users</a></li>
                        <li><i class="fa fa-li fa-github"></i> <a href="{{ path_for("GitBot Controller_admin") }}">Manage bot</a></li>
                    </ul>
                {% endif %}
            {% else %}
                <h5>My Account</h5>
                <ul class="icons">
                    <li><i class="fa fa-li fa-sign-in"></i> <a href="{{ path_for('My Account_login') }}">Log in</a></li>
                    <li><i class="fa fa-li fa-plus"></i> <a href="{{ path_for('My Account_register') }}">Register</a></li>
                    <li><i class="fa fa-li fa-support"></i> <a href="{{ path_for('My Account_recover') }}">Recover password</a></li>
                </ul>
            {% endif %}
            {% block sidebar %}
            {% endblock %}
            <h5>Problems?</h5>
            <ul class="icons">
                <li><i class="fa fa-li fa-exclamation-triangle"></i> <a target="_blank" href="https://github.com/canihavesomecoffee/ccx_submissionplatform/issues/new">Report bug/Ask question</a></li>
            </ul>
        </div>
        <hr/>
    </div>

</div>
<div class="clear"></div>
<div id="footer">
    &copy; Copyright 2015 All Rights Reserved. Developed during GSoC 2015 for <a href="http://www.ccextractor.org">CCExtractor</a>. See <a href="{{ path_for("Home_about") }}">about</a> for a list of used frameworks and technologies.
</div>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.canihavesome.coffee/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 4]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwik.canihavesome.coffee/piwik.php?idsite=4" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
{% include "debug.html.twig" %}
</body>
</html>