{% extends "base.html.twig" %}

{% block content %}
    <h3>Edit sample</h3>
    {% include "notice.html.twig" %}
    <form method="post" action="{{ path_for("Sample Info_edit", {"id": sample.id}) }}" class="vertical">
        <label for="ccx_version">Used CCExtractor version</label>
        {% set toSelect=sample.CCExtractorVersion.id|default('') %}
        <select name="ccx_version" id="ccx_version">
            <option value="-1">-- Choose --</option>
            {% if ccx_versions|length > 0 %}
                {% for version in ccx_versions %}
                    <option value="{{ version.id }}"  {% if toSelect == version.id %}selected="selected"{% endif %}>{{ version.name }} ({{ version.release|date("Y-m-d") }})</option>
                {% endfor %}
            {% endif %}
        </select>
        {% set toSelect=sample.platform|default('Windows') %}
        <fieldset>
            <legend>Used OS</legend>
            <input type="radio" id="radio1" name="ccx_os" class="radio" value="Windows" {% if toSelect == "Windows" %}checked="checked"{% endif %}> <label class="inline" for="radio1">Windows</label><br>
            <input type="radio" id="radio2" name="ccx_os" class="radio" value="Linux" {% if toSelect == "Linux" %}checked="checked"{% endif %}> <label class="inline" for="radio2">Linux</label><br>
            <input type="radio" id="radio3" name="ccx_os" class="radio" value="Mac" {% if toSelect == "Mac" %}checked="checked"{% endif %}> <label class="inline" for="radio3">Mac</label><br>
            <input type="radio" id="radio4" name="ccx_os" class="radio" value="Other" {% if toSelect == "Other" %}checked="checked"{% endif %}> <label class="inline" for="radio4">Other</label>
        </fieldset>
        <label for="ccx_params">Used parameters</label>
        <textarea name="ccx_params" id="ccx_params" placeholder="-autoprogram -latin1 ...">{{ sample.parameters|default('') }}</textarea>
        <label for="notes">Notes</label>
        <textarea name="notes" id="notes">{{ sample.notes|default('') }}</textarea>
        {% include "csrf.html.twig" %}
        <input type="submit" name="submit" value="Save changes to sample" />
    </form>
{% endblock %}