{% if samples|length >= 1 %}
    {% if useSampleOriginal is defined %}
        {% set description="Original name" %}
    {% else %}
        {% set description="SHA1" %}
    {% endif %}
    <p>Samples that have been submitted in the past:</p>
    <table class="sortable tight striped">
        <thead>
        <tr>
            <th>{{ description }}</th>
            <th>Type videostream</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sample in samples %}
            {% if useSampleOriginal is defined %}
                {% set display=sample.originalName %}
            {% else %}
                {% set display=sample.hash %}
            {% endif %}
            <tr>
                <td>{{ display }}</td>
                <td>{{ sample.extension }}</td>
                <td>
                    <a href="{{ path_for('Sample Info_hash', { 'hash': sample.hash }) }}" title="View details"><i class="fa fa-info-circle"></i></a>
                    {% if loggedInUser.isAdmin %}
                        &nbsp;<a href="{{ path_for("Sample Info_edit", { 'id' : sample.id }) }}" title="Edit sample"><i class="fa fa-edit"></i></a>
                        &nbsp;<a href="{{ path_for("Sample Info_delete", { 'id' : sample.id }) }}" title="Delete sample"><i class="fa fa-remove"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{{ noSampleMessage }}</p>
{% endif %}