{% extends "base.html.twig" %}

{% block content %}
    <h3>Password recovery</h3>
    <div class="notice {{ message_type }}"><i class="fa {{ message_icon }} fa-large"></i> {{ message }}</div>
    <form class="vertical" method="post" action="{{ path_for('My Account_recover_step2_post', { "id": user.id, "expires": time, "hmac": hmac }) }}">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <label for="password2">Repeat password</label>
        <input id="password2" name="password2" type="password" />
        <input type="hidden" name="csrf_name" value="{{ csrf_name }}" />
        <input type="hidden" name="csrf_value" value="{{ csrf_value }}" />
        <input type="submit" value="Save the new password" />
    </form>
{% endblock %}