{% extends "base.html.twig" %}

{% block content %}
    <h3>User details for {{ user.name }}</h3>
    <p><small>Note: only you and the site admin can see these details.</small></p>
    <p>Name: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>GitHub linked? {{ user.isGithub ? "Yes":"No" }}</p>
    {% if loggedInUser.isAdmin %}
        <p>Is admin? {{ user.isAdmin ? "Yes":"No" }}</p>
    {% endif %}
    <h4>Submitted samples</h4>
    {% set noSampleMessage="This user didn't submit any samples yet." %}
    {% set useSampleOriginal=true %}
    {% include "sample-info/list-samples.html.twig" %}
{% endblock %}